---
import Layout from '../layouts/Layout.astro';

import AboutMe from "../components/AboutMe.astro"
import Briefcase from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import Experience from '../components/Experience.astro';
import ProfileCheck from "../icons/ProfileCheck.astro"
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import TitleSection from "../components/TitleSection.astro"
import Hobby from '../icons/Hobby.astro';
import Hobbies from '../components/Hobbies.astro';

---

<Layout
  title="Porfolio de Albert - Desarrollador front-end junior"
  description="Desarrollador web y android."
>
  <main class="px-2">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>


    <div class="space-y-24">
      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Professional experience
      </TitleSection>
      <Experience />
    </SectionContainer>


    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About me
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="hobbies">
      <TitleSection>
        <Hobby class="size-8" />
        Hobbies
      </TitleSection>
      <Hobbies />
    </SectionContainer>
  </div>
  </main>
</Layout>


