---
import Layout from '../layouts/Layout.astro';

import AboutMe from "../components/AboutMe.astro"
import Briefcase from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import Experience from '../components/Experience.astro';
import ProfileCheck from "../icons/ProfileCheck.astro"
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import TitleSection from "../components/TitleSection.astro"
import Hobby from '../icons/Hobby.astro';
import Skills from '../components/Skills.astro';
import Learning from '../components/Learning.astro';

---

<Layout
  title="Porfolio de Albert - Back-end junior and fullstack student."
  description="Web App & Android developer."
>
  <main class="px-2">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>


    <div class="space-y-24">
      <SectionContainer id="sobre-mi">
        <TitleSection>
          💡 Profile
        </TitleSection>
        <AboutMe />
      </SectionContainer>

      <SectionContainer id="skills">
        <TitleSection>
        </TitleSection>
        <Skills />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
        
          🧠 Projects
        </TitleSection>
        <Projects />
      </SectionContainer>
      
    <SectionContainer id="experiencia">
      <TitleSection>
        💼 Work experience
      </TitleSection>
      <Experience />
    </SectionContainer>
    <SectionContainer id="mentors">
      <TitleSection>
        🗝️ Mentors
      </TitleSection>
      <Learning />
    </SectionContainer>
  </div>
  </main>
</Layout>


