---
import Layout from '../layouts/Layout.astro';
import '../styles/tailwind.css';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../icons/LinkedIn.astro'
import GitHubIcon from '../icons/GitHub.astro'
import GmailIcon from '../icons/Gmail.astro'
import Experience from '../components/Experience.astro';
import Briefcase from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
import Sknadstekst from '../icons/Søknadstekst.astro';
import CV from '../icons/CV.astro';

---

<Layout 
title="Porfolio de Albert - Desarrollador y Programador Web"
description="Contact me to create your web or app project. Web developer and app creator. Specialized in creating unique projects."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img 
				class= "rounded-full size-12 mb-2"
				src="/public/albs-photo.jpg" 
				alt="albs photo"
        	/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I am Albert 
				<a 
				  href="https://www.linkedin.com/in/albert-llargu%C3%A9s/" 
				  target="_blank" 
				  rel="noopener" 
				  class="flex justify-center items-center"
				>
				  <Badge>Ready to work</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[750px]">
				<span>Junior IT profile.</span> 
				<span class="text-yellow-200/90 ">Web and App developer.</span> 
				<span class="text-red-200/90">From Barcelona, Spain 🌍.</span>
				<span class="opacity-85">Focused on building different apps.</span> 
			</h2>

			<nav class="flex gap-3 mt-3 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/albert-llargu%C3%A9s/">
					<LinkedInIcon class="size-4 lg:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://www.github.com/Llarg94">
					<GitHubIcon class="size-4 lg:size-6"/>
					GitHub 
				</SocialPill>
				<SocialPill href="mailto:albertllarg1@gmail.com">
					<GmailIcon class="size-4 lg:size-6"/>
					albertllarg1@gmail.com
				</SocialPill>
				<SocialPill href="/Updated CV - Albert.pdf" download>
					<CV class="size-4 lg:size-6"/>
					CV
				</SocialPill>
				<SocialPill href="mailto:albertllarg1@gmail.com">
					<Sknadstekst class="size-4 lg:size-6"/>
					Søknadstekst
				</SocialPill>
			</nav>	
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<Briefcase class="size-7"/>
				Work experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<CodeIcon class="size-7"/>
				Projects
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>


