---
const personalImageAlt = "Albert Llargués";
---

<section class="grid md:grid-cols-2 gap-10 items-center max-w-4xl mx-auto">
  <img
    src="/projects/foto-aboutme.jpg"
    alt="Albert Llargués"
    class="rounded-2xl shadow-lg w-full max-w-sm mx-auto object-cover"
  />

  <div>

    <p class="text-gray-700 dark:text-gray-300 mb-4 leading-relaxed">
      I'm Albert, a junior full-stack developer originally from Barcelona and
      currently based in Trondheim. After more than 10 years working in
      the transport sector, I decided to change careers and pursue my passion
      for technology and problem-solving.
    </p>

    <p class="text-gray-700 dark:text-gray-300 mb-4 leading-relaxed">
      I started learning programming through self-study and formal education,
      focusing on building real-world applications and understanding how
      software works end to end — from backend logic to frontend interfaces and deployment.
    </p>

    <ul class="space-y-2 text-gray-700 dark:text-gray-300 mb-4">
      <li>🎓 Multiplatform App Development – Barcelona</li>
      <li>🎓 Back-End Development – Noroff (Norway)</li>
      <li>🎓 Cisco Networking – Cisco (online)</li>
    </ul>

    <p class="text-gray-700 dark:text-gray-300 leading-relaxed">
      I enjoy building projects from scratch, learning by doing, and constantly
      improving my skills. I'm especially interested in web development, clean
      code, and creating practical solutions that solve problems from daily basis.
    </p>
  </div>
</section>
<style>
  .perspective {
    perspective: 1000px;
  }

  #card {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  #card.is-flipped {
    transform: rotateY(180deg);
  }
</style>
