---
 const personalImageAlt = "Albert Llargués"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        My name is Albert, I am 30 years old and I am from Barcelona, Spain but now living in Trondheim, Norway. I started with coding 3 years ago. After 10 years working for the transport sector, I decided to change the direction of my professional carreer. A big step in life that I took with the <strong>inconditional</strong>  support of my <em class="italic">family, friends</em> and with a lot of positive energy.
    </p>

    <p>
        I finished my studies as <strong>Multiplatform App Developer.</strong> and I am enrrolled in a course of <strong>Back-end development, at Noroff University.</strong> I love to focus in user experience, in order to offer the best experience possible.
    </p>
  </div>

  <img 
    width="200" 
    height="200" src="/dist/projects/albs-foto.webp" 
    alt={personalImageAlt} 
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " 
    style="object-position: 50% 50%">
</article>

