---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Current position",
  title: "Warehouse Operative – Autronica Fire and Security AS",
  company: "Autronica",
  description:
    "Preparing national and international orders in the warehouse, packaging them appropriately, labeling them, and preparing them for transport.",
  link: "https://www.autronicafire.com/en/",
},
{
  date: "December 2021 - February 2024",
  title: "Operations Technician – Cencora",
  company: "Cencora - World Courier",
  description:
    "Handling transportation and customs operations for international import and export shipments of pharmaceutical and research products.",
  link: "https://www.cencora.com/", 
  },
{
  date: "March 2021 - November 2021",
  title: "Intermodal dept – CMA-CGM",
  company: "CMA CGM",
  description:
    "Traffic technician carrying out tasks of moving maritime containers nationwide. Reservation and hiring of vehicles. Managing and booking box trucks, dump trucks and platform trucks and",
  link: "https://www.cma-cgm.com/", 
  },
{
  date: "April 2014 - March 2021",
  title: "",
  company: "CMA CGM",
  description:
    "More info available on my CV...",
  link: "", 
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>