---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Current position",
  title: "Warehouse Operative",
  company: "Autronica Fire and Secutiry AS",
  description:
    "Preparing national and international orders in the warehouse, packaging them appropriately, labeling them, and preparing them for transport.",
  link: "https://www.autronicafire.com/en/",
},
{
  date: "December 2021 - February 2024",
  title: "Operations",
  company: "Cencora - World Courier",
  description:
    "Handling transportation and customs brokerage for both import and export shipments of pharmaceutical and bio-research products.",
  link: "https://www.cencora.com/", 
  },
{
  date: "April 2013 - March 2021",
  title: "",
  company: "",
  description:
    "More info available on my CV. Click to show.",
  link: "/public/projects/Updated CV-Albert Llargues.pdf", 
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>