---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Current position",
  title: "Warehouse Operative",
  company: "Autronica Fire and Secutiry AS",
  description:
    "Preparing national and international orders in the warehouse, packaging them appropriately, labeling them, and preparing them for transport.",
  link: "https://www.autronicafire.com/en/",
},
{
  date: "December 2021 - February 2024",
  title: "Operations Technician",
  company: "Cencora - World Courier",
  description:
    "Handling transportation and customs operations for international import and export shipments of pharmaceutical and research products.",
  link: "https://www.cencora.com/", 
  },
{
  date: "March 2021 - November 2021",
  title: "Intermodal dept",
  company: "CMA CGM",
  description:
    "Traffic technician carrying out tasks of moving maritime containers nationwide. Reservation and hiring of vehicles. Managing and booking box trucks, dump trucks and platform trucks and",
  link: "https://www.cma-cgm.com/", 
  },
{
  date: "April 2014 - March 2021",
  title: "",
  company: "",
  description:
    "More info available on my CV. Click to show.",
  link: "/public/projects/Updated CV-Albert Llargues.pdf", 
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>