---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Currently...",
  title: "Warehouse Worker – Autronica Fire and Security AS",
  company: "Autronica",
  description:
    "Preparing national and international orders in the warehouse, packaging them appropriately, labeling them, and preparing them for transport.",
  link: "https://www.autronicafire.com/en/",
},
{
  date: "December 2022 - February 2024",
  title: "Operations Technician – Cencora",
  company: "Cencora - World Courier",
  description:
    "Handling transportation and customs operations for international import and export shipments of pharmaceutical and research products.",
  link: "https://www.cencora.com/",
      
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>