---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Peón de almacén – Autronica",
    company: "Autronica",
    description:
      "Preparando pedidos nacionales e internacionales en el almacén, equipándolos en su correspondiente embalage, etiquetándolos y dejándolos listos para su transporte.",
    link: "https://www.autronicafire.com/en/",
  },
  {
    date: "Diciembre 2022 - Febrero 2024",
    title: "Técnico de operaciones – Cencora",
    company: "Cencora - AmerisourceBergen",
    description:
      "Operativo de transporte y Aduanas en envíos internacionales de importación y exportación, de productos farmacológicos y de estudio.",
      link: "https://www.cencora.com/",
      
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>