
<div id="accordion-hobbies" data-accordion="collapse" data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
    <!-- Introducción -->
    <h2 id="accordion-hobbies-heading-intro">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-hobbies-body-intro" aria-expanded="true" aria-controls="accordion-hobbies-body-intro">
        <span>About Me</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-hobbies-body-intro" class="hidden" aria-labelledby="accordion-hobbies-heading-intro">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          I'm a very active and sporty person. Staying fit and healthy is a big part of my lifestyle. Here are some of my favorite hobbies that keep me energized and motivated:
        </p>
      </div>
    </div>
  
    <!-- Gym -->
    <h2 id="accordion-hobbies-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-hobbies-body-1" aria-expanded="false" aria-controls="accordion-hobbies-body-1">
        <span>Gym</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-hobbies-body-1" class="hidden" aria-labelledby="accordion-hobbies-heading-1">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          I've been going to the gym since I was 16. It's something I'm really passionate about. I focus on multi-functional exercises and love weightlifting. The gym is my escape, and it helps me clear my mind.
        </p>
      </div>
    </div>
  
    <!-- Padel -->
    <h2 id="accordion-hobbies-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-hobbies-body-2" aria-expanded="false" aria-controls="accordion-hobbies-body-2">
        <span>Padel</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-hobbies-body-2" class="hidden" aria-labelledby="accordion-hobbies-heading-2">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          I play padel more than twice a week. I've always loved racket sports, and padel is definitely one of my favorites. It’s a great way to stay fit and have fun.
        </p>
      </div>
    </div>
  
    <!-- Automotion -->
    <h2 id="accordion-hobbies-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-hobbies-body-3" aria-expanded="false" aria-controls="accordion-hobbies-body-3">
        <span>Automotion</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-hobbies-body-3" class="hidden" aria-labelledby="accordion-hobbies-heading-3">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          I've had a deep admiration for cars and motorcycles since I was a kid. I love speed, fixing vehicles, and learning about mechanics on my own.
        </p>
      </div>
    </div>
  
    <!-- Running -->
    <h2 id="accordion-hobbies-heading-4">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-hobbies-body-4" aria-expanded="false" aria-controls="accordion-hobbies-body-4">
        <span>Running</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-hobbies-body-4" class="hidden" aria-labelledby="accordion-hobbies-heading-4">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          I try to go running once or twice a week. It’s a great way to stay active and clear my mind.
        </p>
      </div>
    </div>
  
    <!-- Gaming -->
    <h2 id="accordion-hobbies-heading-5">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-hobbies-body-5" aria-expanded="false" aria-controls="accordion-hobbies-body-5">
        <span>Gaming</span>
      </button>
    </h2>
    <div id="accordion-hobbies-body-5" class="hidden" aria-labelledby="accordion-hobbies-heading-5">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          I love playing video games, especially shooters and action games. It’s a great way to unwind after a long day.
        </p>
      </div>
    </div>
  </div>
  
  <script>
    import 'flowbite';

    declare global {
        interface Window {
            Accordion: any;
        }
    }
  
    document.addEventListener('DOMContentLoaded', () => {
      const accordion = new window.Accordion(document.getElementById('accordion-color'), {
        alwaysOpen: false,
        activeClasses: 'bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white',
        inactiveClasses: 'text-gray-500 dark:text-gray-400',
      });
    });
  </script>